.container-general{
    max-width:600px;
    margin: 0 auto;
    padding: 0 50px;
}
.logo-login{
    width: 320px;
    margin: 0 0 -50px 0;
}
ion-item{
    --background: transparent;
    color:#fff;

}
.fondo-comida-natural{
    background: url('/assets/img/fondo-comida-natural.png') no-repeat;
    background-size: cover;
    background-color: #9c0332;
    min-height: 100vh;
}