ion-header ion-toolbar:first-child {
    padding-top: var(--ion-safe-area-top,0);
    background: url('/assets/img/fondo-comida-natural.png');
    background-size:cover;
    .logo-sticky{
        width: 150px;
    }
    .icon-social{
        width: 40px;
        margin: 20px 5px;
    }
}
h1{
    font-family: "Cambria";
    font-weight: bold;
    font-size: 3rem;
}
h2{
    font-family: "Cambria-Bold";
}
h3,h4{
    font-family: "Biko-Regular";
}
.icon-social{
    width: 40px;
    margin: 20px 10px;
}
.menu-pc-blog {
    height: 100px;
}
hr {
    display: inline-block;
    height: 4px;
    border-width: 0;
    box-sizing: content-box;
    border-radius: 50px;
    width: 300px;
    background: #3fcdbf;
}
.container-general{
    max-width: 1200px;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0px;
    position: relative;
    top: -5px;
}
ion-toolbar.sc-ion-back-button-md-h:not(.ion-color):not(.ion-color), ion-toolbar:not(.ion-color) .sc-ion-back-button-md-h:not(.ion-color) {
    color: #fff;
    position: relative;
    top: 30px;
}
ion-header ion-toolbar .sc-ion-buttons-ios-s .button, .header-ios ion-toolbar .sc-ion-buttons-md-s .button, .header-ios ion-toolbar .sc-ion-buttons-ios-s .button {
    --background-hover: rgba(255, 255, 255, 0.08);
    color: #fff;
    margin-top: 0px;
    font-size: 15px;
}
.list-img{
    -webkit-box-shadow: 0px -5px 0px 0px rgba(156,3,50,1);
    -moz-box-shadow: 0px -5px 0px 0px rgba(156,3,50,1);
    box-shadow: 0px -5px 0px 0px rgba(156,3,50,1);
    width: 90%;
}
@media only screen and (max-width : 800px){
    h1{
        font-size: 2rem;
    } 
}